<div class="tab-group">
        <div class="tab-group__title">
            <div *ngFor="let title of allTabTitle; let i = index" (click)="getTabIndex(i)">
               <span [ngClass]="selectedTabIndex === i ? 'active-tab' : 'normal-tab'">{{title}}</span> 
            </div>
        </div>
        <div class="tab-group__content-body">
           <div *ngFor="let content of allTabContent; let i = index">
               <div [ngClass]="selectedTabIndex === i ? 'tab-group__content-body--visible' : 'tab-group__content-body--hidden'">
                   <div [innerHTML]="content">
                       {{content}}
                    </div>
               </div>
           </div>
        </div>
</div>
