.tab-group {
  height: 100%;
  width: 100%;

  &__title {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 1rem;
    box-shadow: 0px 0 8px 0 rgba(0, 0, 0, 0.25);

    .active-tab {
      padding: 0.5rem;
      border-radius: 0.2rem;
      color: blue;
      cursor: pointer;
    }

    .normal-tab {
      color: #a6a6a6;
      cursor: pointer;
    }
  }

  &__content-body {
    display: flex;
    width: 100%;
    min-height: 200px;
    justify-content: center;
    padding: 1rem;

    &--visible {
      visibility: visible;
    }

    &--hidden {
      display: none;
    }
  }
}
