.container {
  height: 100%;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2.8rem;
  box-shadow: 0px -3px 8px 0px rgba(0, 0, 0, 0.25);
}
.data-container {
  .data-row {
    padding: 1rem;
    border-top: 1px solid gray;
    span {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}
