<div class="main-container">
  <button type="button" (click)="setCount(20)">Set Count</button>
  <div>page index: {{ paginatorDefaultOptions.pageIndex }}</div>
  <div>page size: {{ paginatorDefaultOptions.pageSize }}</div>
  <div>total elements: {{ paginatorDefaultOptions.totalElements }}</div>
</div>
<div class="container">
  <div class="data-container" *ngFor="let row of rows; let i = index">
    <div class="data-row" *ngIf="i >= page.startIndex - 1 && i < page.endIndex">
      <span>Id: {{ row.id }}</span>
      <span>Name: {{ row.name }}</span>
      <span>Address: {{ row.address }}</span>
    </div>
  </div>
</div>
<ng-paginator
  [paginatorDefaultOptions]="paginatorDefaultOptions"
  (pageEvent)="pageEvent($event)"
></ng-paginator>

<qf-tab-group>
  <qf-tab label="First">
      <!-- <div qfTabTitle>First Title</div> -->
    <div qfTabContent>
      <h1>First content </h1>
    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis obcaecati dicta, ipsa sint quaerat quisquam?</div> 
    </div>
    <!-- <div>first outer content</div> -->
   <!--  first inner content -->
  </qf-tab>
  <qf-tab label="Second">
      <!-- <div qfTabTitle>Second Title</div> -->
      <div qfTabContent>
        <h1>Second content</h1>
        <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis, aut sequi praesentium molestias ut exercitationem.</div>
      </div>
     <!-- <div>second outer content</div> -->
     <!-- second inner content -->
  </qf-tab>
  <qf-tab label="Third">
      <!-- <div qfTabTitle>Third Title</div> -->
      <div qfTabContent>
        <h1>Third content</h1>
        <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto illo dolores quis amet, aperiam ex.</div>
      </div>
     <!-- <div>third outer content</div> -->
     <!-- third inner content -->
  </qf-tab>
</qf-tab-group>
