.paginator-component {
  height: 100%;
  width: 100%;
  display: flex;

  .paginator-container {
    width: 100%;
    width: 99%;
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0px 0 8px 0 rgba(0, 0, 0, 0.25);

    .spacer {
      margin-right: 3rem;
    }

  .range-label {
      color: #757575;
    }

    .paginator {
      height: 100%;

      .placeholder-text {
        color: #757575;
        font-size: 16px;
        padding-right: 1rem;
      }

      .dropdown-container {
        border-bottom: 1.2px solid #757575;
        padding-bottom: 4px;
        color: #757575;

        .value-text {
          padding-bottom: 0.2rem;
          padding-right: 1rem;
          cursor: pointer;
        }
      }
      .select-arrow-wrapper {
        display: inline-flex;
        vertical-align: middle;
        cursor: pointer;

        .select-arrow {
          width: 0;
          height: 0;
          color: #757575;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid;
        }
      }
      .select-panel {
        height: 100%;

        .value-container {
          display: table-cell;
          position: absolute;
          top: -6rem;
          width: 90px;
          margin-left: 6rem;
          background-color: #fff;
          border-radius: 0.3rem;
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);

          .option-value {
            position: relative;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            text-align: center;
          }

          .option-value:hover {
            background-color: #e0e0e0;
            cursor: pointer;
          }
        }
        .value-container-disabled {
          visibility: hidden;
        }
      }
    }

    .pagination {
      display: flex;
      margin: 0;
      margin-right: 1rem;
      list-style: none;
      border-radius: 0.25rem;

        .page-link {
          position: relative;
          cursor: pointer;
          padding: 0.5rem 0.75rem;
          margin-left: -1px;
          line-height: 1.25;
          color: #757575;
          background-color: #fff;
          border: 1px solid #dee2e6;
          text-decoration: none;
        }
        

        .page-link:hover {
         // background-color: #f2f5f8;
          background-color: #f1f1f1;
        }

        .active-page-link {
          position: relative;
          cursor: pointer;
          padding: 0.5rem 0.75rem;
          margin-left: -1px;
          line-height: 1.25;
          color: #fff;
          background-color: #3276b1;
          border: 1px solid #dee2e6;
          text-decoration: none;
        }

        .disabled {
          opacity: 0.65; 
          cursor: not-allowed;
        }
    }
  }
}
