<div class="paginator-component">
  <div class="paginator-container">
    <div class="paginator spacer">
      <span class="placeholder-text"> Items per page: </span>
      <span class="dropdown-container" (click)="openPageSizeOptions()">
        <span class="value-text">{{ page.size }}</span>
        <span class="select-arrow-wrapper">
          <span class="select-arrow"></span>
        </span>
      </span>
      <div class="select-panel">
        <div *ngIf="populatePageSizeOptions" class="value-container">
          <div
            class="option-value"
            *ngFor="let option of paginatorDefaultOptions.pageSizeOptions"
            (click)="pageSize(option)"
          >
            {{ option }}
          </div>
        </div>
      </div>
    </div>
    <div class="range-label">
      {{ page.rangeLabel }}
    </div>
    <nav>
      <ul class="pagination">
        <li>
          <a
            [ngClass]="
              activePageLink === 1 ? 'page-link disabled' : 'page-link'
            "
            (click)="previousPage()"
            >Previous</a
          >
        </li>
        <li
          *ngFor="let index of pageIndexArray"
          (click)="getPageLink(index)"
        >
          <a [ngClass]="activePageLink === index ? 'active-page-link' : 'page-link'">{{ index }}</a>
        </li>
        <li>
          <a
            [ngClass]="
              paginatorDefaultOptions.totalPages === activePageLink
                ? 'page-link disabled'
                : 'page-link'
            "
            (click)="nextPage()"
            >Next</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
